* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
}
h2 {
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  box-shadow:2px 3px 9px -1px #000;
  height: 400px;
  width: 600px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #888888;
  width: 500px;
  height: 100px;
  background-color: green;
  margin: 6px;
}